@import '../../App.scss';

.login{
    background: white; // #d3cec6, #a79c94
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 1px;
    justify-content: center;
    display: flex;
    .login-mask{
        flex-direction: column;
        width: 500px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background:rgb(187, 183, 183);
        border: 2px solid #2E2E38;
        margin: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        .login-label{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px;
            font-size: 30px;
            font-weight: bold;
        }
        .info{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 30px;
            .input{
                width: 400px;
            }
            .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
                color: black;
            }
            .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
                border-color: black;
            }
        }
        .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
            color: black;
        }
        .btn-div-login{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 30px;
            .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
                color: black;
                border: 1px solid black;
            }
            .btn-login{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .forgot-password{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 30px;
            a{
                color: black;
            }
        }
    }
    .Footer{
        top: 580px;
        z-index: -1;
    }
}
