@import '../../App.scss';

.register{
    background: white;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 1px;
    justify-content: center;
    display: flex;
    .register-mask{
        flex-direction: column;
        width: 500px;
        height: 620px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background:rgb(187, 183, 183);
        border: 2px solid black;
        margin: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        .register-label{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            font-size: 30px;
            font-weight: bold;
        }
        .info{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 30px;
            .names{
                justify-content: center;
                display: flex;
                flex-direction: row;
                width: 100%;
                .input{
                    width: 50%;
                }
            }
            .email{
                display: flex;
                justify-content: center;
                width: 100%;
                .input{
                    width: 50%;
                }
            }
            .area{
                display: flex;
                justify-content: center;
                width: 100%;
                .combo-box{
                    width: 50%;
                }
            }
            .document{
                display: flex;
                justify-content: center;
                width: 100%;
                .combo-box{
                    width: 50%;
                }
                .input{
                    width: 50%;
                }
            }
            .password{
                display: flex;
                justify-content: center;
                width: 100%;
                .input{
                    width: 50%;
                }
            }
            .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
                color: black;
            }
            .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
                border-color: black;
            }
            .check-section{
                display: flex;
                justify-content: row;
                width: auto;
                height: auto;
                align-items: center;
            }
        }
        
        .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
            color: block;
        }
        .btn-div-register{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: px;
            .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
                color: black;
                border: 1px solid black;
            }
            .btn-register{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .Footer{
        top: 700px;
        z-index: -1;
    }
}
