@import '../../App.scss';

*{
    margin: 0;
    text-decoration: none;
}

.container{
    .sidebar{
        background-color: #632033;
        color: #FCF3F7;
        height: 100vh;
        width: 200px;
        transition: all 0.5s;
        .top{
            display: flex;
            align-items: center;
            padding: 20px 15px;
            flex-direction: row;
            .logo{
                max-height: 80px;
                width: auto;
                margin: 0 20px;
            }
            .bars{
                display: flex;
                font-size: 25px;
                margin: 30px 10px;
                cursor: pointer;
            }
        }
        .link{
            display: flex;
            color: #FCF3F7;
            padding: 10px 15px;
            gap: 15px;
            transition: all 0.5s;
            &:hover{
                background: #FCF3F7;
                color: #632033;
                transition: all 0.5s;
            }
            &:active{
                background: #FCF3F7;
                color: #632033;
            }
            .icon, .link-text{
                font-size: 18px;
            }
        }
    }
}

main{
    width: 100%;
    padding: 20px;
}