.LateralMenu {
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;
    width: 50px;
    height: 100%; /* Cambiado a 100% para ocupar todo el alto de la pantalla */
    position: fixed;
    top: 0; /* Cambiado a 0 para que el menú comience desde la parte superior de la pantalla */
    left: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #bdb5ad;
  
    li {
      list-style: none;
    }
  }
  
  ul {
    padding: 0;
  }
  
  .svg_icon {
    margin: 20px 0 20px 0;
    height: 40px;
    width: 40px;
    fill: #ac935a;
  
    &:hover {
      fill: #C7CBDA;
      cursor: pointer;
    }
  }
  