.User{
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    background: #FCF3F7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Content{
    flex: 1;
}